@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Nunito", serif;
}
.bubblegum-sans-regular {
    font-family: "Bubblegum Sans", serif;
  }
  .comic-neue-regular {
    font-family: "Comic Neue", serif;
  }
